<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<title>{{ the_title }}</title>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="">
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<script src="https://kit.fontawesome.com/6defe0c464.js" crossorigin="anonymous"></script>
</head>

<body>

	<div id="welcome-banner">
		<button id="banner-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		<h5>myGNV Service Requests Map</h5>
		<p>A filterable map of thousands of Gainesville service requests going back to 2017</p>
	</div>

	<div class="container-fluid h-100">
		<div class="row h-100">

			<div class="sidebar-toggle-btn sidebar-button-left-pos" id="about-toggle-btn"><i class="fa-regular fa-circle-info fa-2xl"></i></div>
			<div class="sidebar-toggle-btn sidebar-button-left-pos" id="sidebar-toggle-btn"><i class="fa-sharp fa-solid fa-filter-list fa-lg"></i></div>

			<!-- Sidebar (Left) -->
			<nav id="sidebar-container" class="sidebar-left-pos sidebar h-100 p-0 pb-3">
				<form id="filter-form" method="POST" action="{{ url_for('filter') }}">
					<div id="sidebar-header-container">
						<h5 class='sidebar-header'>Filter Map</h5>
						<input type="submit" class="btn btn-primary" value="Apply">
					</div>
					<ul id="sidebar-list" class="nav d-flex flex-column">
						<li class="nav-item has-submenu">
							<a class="nav-link filter-header" href="#">Keyword
								<i class="filter-header-arrow fa-solid fa-caret-left fa-xl"></i>
							</a>
							<ul id="keyword_list" class="submenu collapse">
								<li class="keyword_item_container">
									<input type="text" id="keyword_toadd" placeholder="Filter description by...">
									<div id="keyword_add" class="btn-success">+</div>
								</li>
							</ul>
						</li>
						<li class="nav-item has-submenu">
							<a class="nav-link filter-header" href="#">Type
								<i class="filter-header-arrow fa-solid fa-caret-left fa-xl"></i>
							</a>
							<ul class="submenu collapse">

								<li>
									<input type="checkbox" id="types_select_all" onclick="inputs_select_all(this, 'type')">
									<label for="types_select_all"><strong>Select All</strong></label>
								</li>

								<li>
									<input type="checkbox" id="blocked_exits" name="type" value="Blocked Exits">
									<label for="blocked_exits">Blocked Exits</label>
								</li>

								<li>
									<input type="checkbox" id="building_abandoned_damaged" name="type" value="Building (Abandoned / Damaged)">
									<label for="building_abandoned_damaged">Building (Abandoned / Damaged)</label>
								</li>

								<li>
									<input type="checkbox" id="construction_sites" name="type" value="Construction Sites">
									<label for="construction_sites">Construction Sites</label>
								</li>

								<li>
									<input type="checkbox" id="dangerous_buildings" name="type" value="Dangerous Buildings">
									<label for="dangerous_buildings">Dangerous Buildings</label>
								</li>

								<li>
									<input type="checkbox" id="dead_animal" name="type" value="Dead Animal (Public Property)">
									<label for="dead_animal">Dead Animal (Public Property)</label>
								</li>

								<li>
									<input type="checkbox" id="ditch_drainage_flooding" name="type" value="Ditch / Drainage / Flooding">
									<label for="ditch_drainage_flooding">Ditch / Drainage / Flooding</label>
								</li>

								<li>
									<input type="checkbox" id="e-scooter_issues" name="type" value="e-Scooter Issues">
									<label for="e-scooter_issues">e-Scooter Issues</label>
								</li>

								<li>
									<input type="checkbox" id="emergency_flooding" name="type" value="Emergency - Flooding">
									<label for="emergency_flooding">Emergency - Flooding</label>
								</li>

								<li>
									<input type="checkbox" id="emergency_other" name="type" value="Emergency - Other">
									<label for="emergency_other">Emergency - Other</label>
								</li>

								<li>
									<input type="checkbox" id="emergency_traffic" name="type" value="Emergency - Traffic">
									<label for="emergency_traffic">Emergency - Traffic</label>
								</li>

								<li>
									<input type="checkbox" id="emergency_tree_or_brush_debris" name="type" value="Emergency - Tree or Brush Debris">
									<label for="emergency_tree_or_brush_debris">Emergency - Tree or Brush Debris</label>
								</li>

								<li>
									<input type="checkbox" id="fire_hydrant_issues" name="type" value="Fire Hydrant Issues">
									<label for="fire_hydrant_issues">Fire Hydrant Issues</label>
								</li>

								<li>
									<input type="checkbox" id="garbage_pick_up_recycling" name="type" value="Garbage Pick Up &amp; Recycling">
									<label for="garbage_pick_up_recycling">Garbage Pick Up &amp; Recycling</label>
								</li>

								<li>
									<input type="checkbox" id="general_code_issue" name="type" value="General Code Issue">
									<label for="general_code_issue">General Code Issue</label>
								</li>

								<li>
									<input type="checkbox" id="general_police_enforcement" name="type" value="General Police Enforcement">
									<label for="general_police_enforcement">General Police Enforcement</label>
								</li>

								<li>
									<input type="checkbox" id="graffiti" name="type" value="Graffiti">
									<label for="graffiti">Graffiti</label>
								</li>

								<li>
									<input type="checkbox" id="health_and_wellness_concerns" name="type" value="Health and Wellness Concerns">
									<label for="health_and_wellness_concerns">Health and Wellness Concerns</label>
								</li>

								<li>
									<input type="checkbox" id="holiday_displays" name="type" value="Holiday Displays">
									<label for="holiday_displays">Holiday Displays</label>
								</li>

								<li>
									<input type="checkbox" id="inspections" name="type" value="Inspections">
									<label for="inspections">Inspections</label>
								</li>

								<li>
									<input type="checkbox" id="leaks" name="type" value="Leaks">
									<label for="leaks">Leaks</label>
								</li>

								<li>
									<input type="checkbox" id="low_pressure" name="type" value="Low Pressure">
									<label for="low_pressure">Low Pressure</label>
								</li>

								<li>
									<input type="checkbox" id="mosquito_control" name="type" value="Mosquito Control">
									<label for="mosquito_control">Mosquito Control</label>
								</li>

								<li>
									<input type="checkbox" id="neighbor_assistance_clerk" name="type" value="Neighbor Assistance - Clerk">
									<label for="neighbor_assistance_clerk">Neighbor Assistance - Clerk</label>
								</li>

								<li>
									<input type="checkbox" id="neighborhood_watch_signs" name="type" value="Neighborhood Watch Signs">
									<label for="neighborhood_watch_signs">Neighborhood Watch Signs</label>
								</li>

								<li>
									<input type="checkbox" id="new_infrastructure" name="type" value="New Infrastructure">
									<label for="new_infrastructure">New Infrastructure</label>
								</li>

								<li>
									<input type="checkbox" id="noise_complaint" name="type" value="Noise Complaint">
									<label for="noise_complaint">Noise Complaint</label>
								</li>

								<li>
									<input type="checkbox" id="other" name="type" value="Other">
									<label for="other">Other</label>
								</li>

								<li>
									<input type="checkbox" id="overcrowding" name="type" value="Overcrowding">
									<label for="overcrowding">Overcrowding</label>
								</li>

								<li>
									<input type="checkbox" id="overgrown_grass" name="type" value="Overgrown Grass">
									<label for="overgrown_grass">Overgrown Grass</label>
								</li>

								<li>
									<input type="checkbox" id="park_repair_or_clean_up" name="type" value="Park Repair or Clean Up">
									<label for="park_repair_or_clean_up">Park Repair or Clean Up</label>
								</li>

								<li>
									<input type="checkbox" id="parking_enforcement" name="type" value="Parking Enforcement">
									<label for="parking_enforcement">Parking Enforcement</label>
								</li>

								<li>
									<input type="checkbox" id="parking_in_yard" name="type" value="Parking in Yard">
									<label for="parking_in_yard">Parking in Yard</label>
								</li>

								<li>
									<input type="checkbox" id="parking_meter_malfunction" name="type" value="Parking Meter Malfunction">
									<label for="parking_meter_malfunction">Parking Meter Malfunction</label>
								</li>

								<li>
									<input type="checkbox" id="request_for_new_signal" name="type" value="Request for New Signal">
									<label for="request_for_new_signal">Request for New Signal</label>
								</li>

								<li>
									<input type="checkbox" id="request_for_streetlight" name="type" value="Request for Streetlight">
									<label for="request_for_streetlight">Request for Streetlight</label>
								</li>

								<li>
									<input type="checkbox" id="request_to_general_manager_of_utilities" name="type" value="Request to General Manager of Utilities">
									<label for="request_to_general_manager_of_utilities">Request to General Manager of Utilities</label>
								</li>

								<li>
									<input type="checkbox" id="residential_rental_maintenance" name="type" value="Residential Rental Maintenance">
									<label for="residential_rental_maintenance">Residential Rental Maintenance</label>
								</li>

								<li>
									<input type="checkbox" id="right-of-way_maintenance" name="type" value="Right-of-Way Maintenance">
									<label for="right-of-way_maintenance">Right-of-Way Maintenance</label>
								</li>

								<li>
									<input type="checkbox" id="road_repair" name="type" value="Road Repair">
									<label for="road_repair">Road Repair</label>
								</li>

								<li>
									<input type="checkbox" id="sidewalk_repair" name="type" value="Sidewalk Repair">
									<label for="sidewalk_repair">Sidewalk Repair</label>
								</li>

								<li>
									<input type="checkbox" id="smoke_detector_installation" name="type" value="Smoke Detector Installation">
									<label for="smoke_detector_installation">Smoke Detector Installation</label>
								</li>

								<li>
									<input type="checkbox" id="street_sign" name="type" value="Street Sign">
									<label for="street_sign">Street Sign</label>
								</li>

								<li>
									<input type="checkbox" id="streetlight" name="type" value="Streetlight">
									<label for="streetlight">Streetlight</label>
								</li>

								<li>
									<input type="checkbox" id="substandard_rentals" name="type" value="Substandard Rentals">
									<label for="substandard_rentals">Substandard Rentals</label>
								</li>

								<li>
									<input type="checkbox" id="traffic_enforcement" name="type" value="Traffic Enforcement">
									<label for="traffic_enforcement">Traffic Enforcement</label>
								</li>

								<li>
									<input type="checkbox" id="traffic_pedestrian_signal" name="type" value="Traffic / Pedestrian Signal">
									<label for="traffic_pedestrian_signal">Traffic / Pedestrian Signal</label>
								</li>

								<li>
									<input type="checkbox" id="trash_debris" name="type" value="Trash / Debris">
									<label for="trash_debris">Trash / Debris</label>
								</li>

								<li>
									<input type="checkbox" id="tree_limbs" name="type" value="Tree / Limbs">
									<label for="tree_limbs">Tree / Limbs</label>
								</li>

								<li>
									<input type="checkbox" id="tree_blocking_street" name="type" value="Tree Blocking Street">
									<label for="tree_blocking_street">Tree Blocking Street</label>
								</li>

								<li>
									<input type="checkbox" id="tree_planting_suggestion" name="type" value="Tree Planting Suggestion">
									<label for="tree_planting_suggestion">Tree Planting Suggestion</label>
								</li>

								<li>
									<input type="checkbox" id="vehicle_abandoned" name="type" value="Vehicle (Abandoned / Non-Operational)">
									<label for="vehicle_abandoned">Vehicle (Abandoned / Non-Operational)</label>
								</li>

								<li>
									<input type="checkbox" id="wastewater_sewer" name="type" value="Wastewater / Sewer">
									<label for="wastewater_sewer">Wastewater / Sewer</label>
								</li>

							</ul>
						</li>
						<li class="nav-item has-submenu">
							<a class="nav-link filter-header" href="#">Year
								<i class="filter-header-arrow fa-solid fa-caret-left fa-xl"></i>
							</a>
							<ul class="submenu collapse">

								<li>
									<input type="checkbox" id="years_select_all" onclick="inputs_select_all(this, 'year')">
									<label for="years_select_all"><strong>Select All</strong></label>
								</li>

								<li>
									<input type="checkbox" id="seventeen" name="year" value="2017">
									<label for="seventeen">2017</label>
								</li>

								<li>
									<input type="checkbox" id="eighteen" name="year" value="2018">
									<label for="eighteen">2018</label>
								</li>

								<li>
									<input type="checkbox" id="nineteen" name="year" value="2019">
									<label for="nineteen">2019</label>
								</li>

								<li>
									<input type="checkbox" id="twenty" name="year" value="2020">
									<label for="twenty">2020</label>
								</li>

								<li>
									<input type="checkbox" id="twenty-one" name="year" value="2021">
									<label for="twenty-one">2021</label>
								</li>

								<li>
									<input type="checkbox" id="twenty-two" name="year" value="2022">
									<label for="twenty-two">2022</label>
								</li>

								<li>
									<input type="checkbox" id="twenty-three" name="year" value="2023">
									<label for="twenty-three">2023</label>
								</li>

							</ul>
						</li>
						<li class="nav-item has-submenu">
							<a class="nav-link filter-header" href="#">Month
								<i class="filter-header-arrow fa-solid fa-caret-left fa-xl"></i>
							</a>
							<ul class="submenu collapse">

								<li>
									<input type="checkbox" id="months_select_all" onclick="inputs_select_all(this, 'month')">
									<label for="months_select_all"><strong>Select All</strong></label>
								</li>

								<li>
									<input type="checkbox" id="january" name="month" value="January">
									<label for="january">January</label>
								</li>

								<li>
									<input type="checkbox" id="february" name="month" value="February">
									<label for="february">February</label>
								</li>

								<li>
									<input type="checkbox" id="march" name="month" value="March">
									<label for="march">March</label>
								</li>

								<li>
									<input type="checkbox" id="april" name="month" value="April">
									<label for="april">April</label>
								</li>

								<li>
									<input type="checkbox" id="may" name="month" value="May">
									<label for="may">May</label>
								</li>

								<li>
									<input type="checkbox" id="june" name="month" value="June">
									<label for="june">June</label>
								</li>

								<li>
									<input type="checkbox" id="july" name="month" value="July">
									<label for="july">July</label>
								</li>

								<li>
									<input type="checkbox" id="august" name="month" value="August">
									<label for="august">August</label>
								</li>

								<li>
									<input type="checkbox" id="september" name="month" value="September">
									<label for="september">September</label>
								</li>

								<li>
									<input type="checkbox" id="october" name="month" value="October">
									<label for="october">October</label>
								</li>

								<li>
									<input type="checkbox" id="november" name="month" value="November">
									<label for="november">November</label>
								</li>

								<li>
									<input type="checkbox" id="december" name="month" value="December">
									<label for="december">December</label>
								</li>

							</ul>
						</li>
					</ul>
					<input type="hidden" id="keyword_and_or_input" name="keyword_and_or_input" value="or">
				</form>
			</nav>

			<!-- Map (Right) -->
			<main class="col-12 p-0">

				<div id="map"></div>

			</main>
		</div>
	</div>

	<div id="request-modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-table"></div>
					<p class="modal-p"></p>
				</div>
				<div class="modal-footer">
					<button id="copy-link-btn" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Link copied!" onclick="copyComplaintLink();">
            <i class="fa fa-share-square fa-lg" aria-hidden="true"></i>
          </button>
					<input type="text" value="0" id="copy-link-input">
          <span id="copy-link-notif" style="display: none;">Link copied!</span>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div id="about-modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Welcome to the myGNV Service Requests Map!</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<ul class="nav nav-pills nav-justified" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about-pane" type="button" role="tab" aria-controls="about-pane" aria-selected="true">About</button>
						</li>
						<li class="nav-item" role="tab">
							<button class="nav-link" id="method-tab" data-bs-toggle="tab" data-bs-target="#method-pane" type="button" role="tab" aria-controls="method-pane" aria-selected="false">Methodology</button>
						</li>
					</ul>
					<br>
					<div class="tab-content">
						<p class="tab-pane fade show active modal-p" id="about-pane" role="tabpanel" aria-labelledby="about-tab">
							The myGNV Service Requests Map enables users to explore a filterable map of over 11,000 local service requests from citizens of Gainesville, Florida, going back to 2017.
							<br>
							<br>
							These are 3-1-1 (non-emergency) service requests relating to general issues of everyday city-living, such as road maintenance or a noise complaint.
							<br>
							<br>
							You can filter the map by using the sidebar on the leftside of the page, which can be toggled by the <i class="fa-sharp fa-solid fa-filter-list fa-sm"></i> icon at the bottom. Specifically, you can filter the map by the type of request, the year/month of a request, and keywords
							in
							a request description.
							<br>
							<br>
							The <span class="keyword_and_or">and/or</span> specification allows you to be more specfic when filtering by two or more keywords. If <span class="keyword_and_or">and</span> is selected, request descriptions will be filtered by whether they include <strong><em>all</em></strong> of the specified keywords. Conversely, if <span class="keyword_and_or">or</span> is selected, descriptions will be filtered by whether they include <strong><em>any</em></strong> of the specified keywords. In other words, <strong><em>or</em> means <em>more</em></strong> markers will pass through the filter.
							<br>
							<br>
							Also, please note that the available data for 2023 currently includes only January and February.
						</p>
						<p class="tab-pane fade modal-p" id="method-pane" role="tabpanel" aria-labelledby="method-tab">
							This web application was created by Zachary Carnell, a student journalist at the University of Florida.
							<br>
							<br>
							It uses a combination of multiple Python libraries, including Flask, PyMySQL, and SQLAlchemy, to facilitate a connection between the front end and a MySQL database on the back end. When a user applies a filter, the Flask application queries the database using the specified filters and generates a geojson file, which is then handled by a JavaScript mapping plugin called Leaflet.
							<br>
							<br>
							This allows for minimal clientside processing: Instead of needlesssly forcing a user to load a giant geojson file of all the map data (for what may be a relatively small map filter), the Flask application allows for only the desired data to be loaded.
							<br>
							<br>
							Flask is also used to create an individually sharable page for each service request.
							<br>
							<br>
							The service requests are <a href="https://data.cityofgainesville.org/Public-Administration-Finance/311-Service-Requests-myGNV-/78uv-94ar">made public</a> by the City of Gainesville and serve as the basis for the map data. And the underlying code for this application can be found on <a href="https://github.com/carnellzachary/gnv_service_requests_map">Github</a>.
						</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Scripts -->
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dateformat@3.0.3/lib/dateformat.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<script src="{{ url_for('static', filename='js/detail.js') }}"></script>

	<script>
	var f = {{ props|tojson }};

	var r_modal_element = document.querySelector('#request-modal');

	var desc_truncated = (f.description && f.description !== 'None') ? truncate_string(f.description, 285) : "<em>No description reported.</em>";

	var tooltip_content = "<strong>Type:</strong> " + f.request_type + "<br><strong>Date:</strong> " + dateFormat(f.request_date, "fullDate") + "<br><hr style='margin: 5px 0;'>" + desc_truncated + "<hr style='margin: 5px 0;'><em>Click marker for more details...</em>";

	var bounds = L.latLngBounds();

	bounds.extend([{{the_lat}}, {{the_lng}}]);

	var m = L.marker([{{the_lat}}, {{the_lng}}])
		.bindPopup(tooltip_content)
		.on({
			click: function(e) {
				var if_address = (f.address) ? f.address : "";
				var if_reporter_display = (f.reporter_display) ? f.reporter_display : "";
				var if_closed = (f.closed) ? format_datetime(f.closed) : "";
				var if_status = (f.status) ? f.status : "";
				var if_assigned_to = (f.assigned_to) ? f.assigned_to : "";
				var if_desc = (f.description && f.description !== 'None') ? f.description : "<em>No description reported.</em>";

				if (f.minutes_to_close && f.days_to_close) {
					var days = (f.days_to_close == 1) ? f.days_to_close + " Day" : f.days_to_close + " Days";
					var minutes = (f.minutes_to_close == 1) ? f.minutes_to_close + " Minute" : f.minutes_to_close + " Minutes";
				} else {
					var days = '';
					var months = '';
				}

				var if_time_closed = (f.minutes_to_close && f.days_to_close) ? "<tr><th>Days / Minutes to Close</th><td>" + days + " / " + minutes + "</td></tr>" : "";

				var if_ack = (f.acknowledged) ? format_datetime(f.acknowledged) : "";

				var table_content="<table class='table table-striped table-bordered table-condensed'><tr><th>ID</th><td>"+f.id+"</td></tr><tr><th>Request Type</th><td>"+f.request_type+"</td></tr><tr><th>Reporter Display Name</th><td>"+if_reporter_display+"</td></tr><tr><th>Address</th><td>"+if_address+"</td></tr><tr><th>Latitude</th><td>{{the_lat}}</td></tr><tr><th>Longitude</th><td>{{the_lng}}</td></tr><tr><th>Date Reported</th><td>"+dateFormat(f.request_date,"fullDate")+"</td></tr><tr><th>Date Acknowledged</th><td>"+if_ack+"</td></tr><tr><th>Assigned To</th><td>"+if_assigned_to+"</td></tr><tr><th>Last Updated</th><td>"+format_datetime(f.last_updated)+"</td></tr><tr><th>Status</th><td>"+if_status+"</td></tr><tr><th>Date Closed</th><td>"+if_closed+"</td></tr>"+if_time_closed+"</table>";

				$('#request-modal').find('.modal-table').html(table_content); // I use jQuery here to just quickly format table_content string to html. I already have to load jQuery to load parts of Bootstrap anyway

				r_modal_element.querySelector(".modal-title").innerHTML = "Gainesville Service Request - " + f.request_type;
				r_modal_element.querySelector(".modal-p").innerHTML = if_desc;

				// Setting sharable link url
				var getUrl = window.location;
				document.querySelector('#copy-link-input').value = getUrl;


				request_modal.show();
			},
			mouseover: function(e) {
				this.openPopup();
			},
		});

	map.addLayer(m);

	map.fitBounds(bounds, {
		maxZoom: 17
	});

	m.openPopup();
	</script>

</body>

</html>
